In [1]:
import pandas as pd

In [ ]:
from bs4 import BeautifulSoup
import requests #requests we only need it at the beginning of the webscraping.

In [ ]:
# ⚙️ Settings
pd.set_option('display.max_columns', None) # display all columns
import warnings
warnings.filterwarnings('ignore') # ignore warnings

In [ ]:
data = pd.read_csv('reg_tech_dt_y_es.csv')
data1 = pd.read_csv('country_tech_dt_grid_y_es.csv')
data2 = pd.read_csv('reg_indic_y_re_share.csv')

,Region,Technology,Data Type,Year,Electricity statistics
0,Africa,Solar energy,Electricity Generation (GWh),2000,11.65
1,Africa,Solar energy,Electricity Generation (GWh),2001,14.78
2,Africa,Solar energy,Electricity Generation (GWh),2002,17.50
3,Africa,Solar energy,Electricity Generation (GWh),2003,20.93
4,Africa,Solar energy,Electricity Generation (GWh),2004,25.30
5,Africa,Solar energy,Electricity Generation (GWh),2005,30.60
6,Africa,Solar energy,Electricity Generation (GWh),2006,39.07
7,Africa,Solar energy,Electricity Generation (GWh),2007,48.29
8,Africa,Solar energy,Electricity Generation (GWh),2008,59.45
9,Africa,Solar energy,Electricity Generation (GWh),2009,83.88

In [12]:
data

,Region,Technology,Data Type,Year,Electricity statistics
0,Africa,Solar energy,Electricity Generation (GWh),2000,11.65
1,Africa,Solar energy,Electricity Generation (GWh),2001,14.78
2,Africa,Solar energy,Electricity Generation (GWh),2002,17.50
3,Africa,Solar energy,Electricity Generation (GWh),2003,20.93
4,Africa,Solar energy,Electricity Generation (GWh),2004,25.30
...,...,...,...,...,...
4747,South America,Other non-renewable energy,Electricity Installed Capacity (MW),2019,184.39
4748,South America,Other non-renewable energy,Electricity Installed Capacity (MW),2020,184.39
4749,South America,Other non-renewable energy,Electricity Installed Capacity (MW),2021,184.39
4750,South America,Other non-renewable energy,Electricity Installed Capacity (MW),2022,184.39
4751,South America,Other non-renewable energy,Electricity Installed Capacity (MW),2023,184.39

In [13]:
data1 = pd.read_csv('country_tech_dt_grid_y_es.csv')

In [16]:
data1.eq("-").sum() # solo 10.388 con info

Country/area                           0
Technology                             0
Data Type                              0
Grid connection                        0
Year                                   0
Electricity statistics (MW/GWh)    32670
dtype: int64

In [17]:
data1.shape

(43008, 6)

In [19]:
data1.Technology.value_counts()

Technology
Solar photovoltaic      21504
Solar thermal energy    21504
Name: count, dtype: int64

In [20]:
data2 = pd.read_csv('reg_indic_y_re_share.csv')

In [23]:
data2

,region,Indicator,Year,Renewable energy share of electricity capacity and generation (%)
0,Africa,RE share of electricity generation (%),2000,19.06
1,Africa,RE share of electricity generation (%),2001,19.50
2,Africa,RE share of electricity generation (%),2002,17.97
3,Africa,RE share of electricity generation (%),2003,17.30
4,Africa,RE share of electricity generation (%),2004,16.31
...,...,...,...,...
427,South America,RE share of electricity capacity (%),2019,67.18
428,South America,RE share of electricity capacity (%),2020,67.51
429,South America,RE share of electricity capacity (%),2021,68.29
430,South America,RE share of electricity capacity (%),2022,69.92
431,South America,RE share of electricity capacity (%),2023,71.42

In [22]:
data2 = data2.rename(columns={'Region/country/area': 'region'})

In [26]:
print(data.columns)
print("")
print(df.columns)
print("")
print(data2.columns)
print("")

Index(['Region', 'Technology', 'Data Type', 'Year', 'Electricity statistics'], dtype='object')

Index(['Country/area', 'Technology', 'Data Type', 'Grid connection', 'Year',
       'Electricity statistics (MW/GWh)'],
      dtype='object')

Index(['region', 'Indicator', 'Year',
       'Renewable energy share of electricity capacity and generation (%)'],
      dtype='object')